#filter-section{
    width: 40%;
    margin: auto;
    position: relative;
    top: -15px;
  }
  
  #dish-search>input{
    border: none;
    padding: 10px;
    padding-left: 0;
    background-color: white;
    font-size: 15px;
  }
  #dish-search>input:focus{
    outline: none;
  }
  input[type="checkbox"]{
    outline: black;
    cursor: pointer;
  }
  #veg-only:hover{
    color: green;
    cursor: pointer;
  }
  #favourite-filter:hover{
    color: #f80808;
    cursor: pointer;
  }
  .filter-inputs{
    padding: 12px 15px 12px 15px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 2px 2px 0 grey;
  }  