.offer-heading{
  background-color: black;
  position: relative;
  top: 10px;
  display: inline-block;
}
.offer-section{
  width: 58%;
  padding: 5% 10% 5% 10%;
  border: 2px solid white;
}
.offer-section>*{
  margin: 2%;
}
.offer-section>img{
  height: 20px;
}