#food-description{
  justify-content:center ;
}
  
.nonveg{
  filter: invert(11%) sepia(36%) saturate(4540%) hue-rotate(348deg) brightness(86%) contrast(94%);
  color: #581111;
}
.veg{
  filter:  invert(23%) sepia(16%) saturate(3949%) hue-rotate(80deg) brightness(100%) contrast(101%);
}
  