.food-list-item{
    padding: 30px 30px 30px 10px;
  }
  
  .food-list-item-button{
    width: 90px;
    height: 35px;
    color: var(--food-list-button-color);
    background-color: white;
    border: 1px solid rgb(179, 175, 175);
    font-size: 12px;
  }
  .food-list-item-button:hover{
    color: var(--food-list-button-hover-color);
    box-shadow: 0 0 5px grey;
    cursor: pointer;
  }