*{
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
    --food-list-button-color : green;
    --food-list-button-hover-color : red;
  }
.flex{
    display: flex;
}
.inline{
    display: inline;
}
.margin-2{
    margin: 2%;
}
.invert{
    filter: invert(100%);
}
.border-r{
    padding-right: 7px;
    border-right: 1px solid white;
}
.op-6{
    opacity: 0.6;
}
.op-9{
    opacity: 0.9;
}
.margin-tb-8{
    margin: 8px 0 8px 0;
}  
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.h-15{
    height: 15px;
}

.flex-space-around{
    display: flex;
    justify-content: space-around;
} 

.align-items-center{
    align-items: center;
}

.w-90{
    width: 90%;
}