body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



*{
  margin: 0;
  padding: 0;
  font-family:Arial, sans-serif;
  --food-list-button-color : green;
  --food-list-button-hover-color : red;
}


#header{
  width: 100vw;
  height: 70px;
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 244, 243);
}

#logo{
  margin-right: 15px;
  height: 50px;
}
#logo:hover{
  transition: 0.2s;
  scale: 1.1;
}

#location{
  margin-left: 10px;
  cursor: pointer;
}
#location>span{
  opacity: 0.5;
}
#location>ins{
  font-weight: 550;
}
#location>img{
  height: 15px;
}
#location:hover>ins, .control_options:hover{
  color: #ff0000;
  cursor: pointer;
}

.control_options>img{
  height: 18px;
}
.control_options:hover>img{
  filter:invert(16%) sepia(82%) saturate(7103%) hue-rotate(359deg) brightness(98%) contrast(113%);
}
.control_options{
  padding: 10px;
  margin: 20px;
}
#search{
  margin-left: 20%;
}
#offers>span{
  font-size: small;
  color: orange;
  position: relative;
  bottom: 5px;
}


#breadcrumb{
  background-color: #e8e9ed;
  font-size: 80%;
  padding: 3px;
  padding-left: 15%;
}
#breadcrumb>span{
  cursor: pointer;
  opacity: 0.6;
}
#breadcrumb>span:hover{
  opacity: 1;
}



.flex{
  display: flex;
}
.inline{
  display: inline;
}
.margin-2{
  margin: 2%;
}
.invert{
  filter: invert(100%);
}
.border-r{
  padding-right: 7px;
  border-right: 1px solid white;
}
.op-6{
  opacity: 0.6;
}
.op-9{
  opacity: 0.9;
}
.filter-inputs{
  padding: 12px 15px 12px 15px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 2px 2px 0 grey;
}
.margin-tb-8{
  margin: 8px 0 8px 0;
}



#subheader{
  color: white;
  background-color: black;
  padding: 0 10% 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#subheader>img{
  padding: 3%;
  height: 170px;
}
#description{
  width: 550px;
  margin: 2%;
}
#description-heading{
  margin: 3% 0 3% 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}
.description-address{
  margin: 2% 0 2% 0;
}

#description-rating img{
  height: 12px;
  filter: invert(1);
}
#offer-heading{
  background-color: black;
  position: relative;
  top: 10px;
  display: inline-block;
}
#offer-section{
  width: 58%;
  padding: 5% 10% 5% 10%;
  border: 2px solid white;
}
#offer-section>*{
  margin: 2%;
}




#filter-section{
  width: 40%;
  margin: auto;
  position: relative;
  top: -15px;
}

#dish-search>input{
  border: none;
  padding: 10px;
  padding-left: 0;
  background-color: white;
  font-size: 15px;
}
#dish-search>input:focus{
  outline: none;
}
input[type="checkbox"]{
  outline: black;
  cursor: pointer;
}
#veg-only:hover{
  color: green;
  cursor: pointer;
}
#favourite-filter:hover{
  color: #f80808;
  cursor: pointer;
}


#food-description{
  justify-content:center ;
}

#overview{
  padding: 10px;
  margin: 1.5rem 3rem 1.5rem 6rem;
  border-right: 1px solid rgb(226, 222, 222);
}

#overview>p{
  margin: 1rem;
  text-align: end;
  font-size: 17px;
}
#overview>p>a:hover{
  color: #990606;
  cursor: pointer;
}
#overview>p>a{
  text-decoration: none;
  color: black;
}
#food-list{
  width: 600px;
  height: 620px;
  overflow-y: auto;
}
#food-list>h2{
  padding: 10px;
  font-size: 28px;
}
#food-list>p{
  padding-left: 10px;
  font-size: 13px;
}
.food-list-item{
  padding: 30px 30px 30px 10px;
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
}
.food-list-item-button{
  width: 90px;
  height: 35px;
  color: var(--food-list-button-color);
  background-color: white;
  border: 1px solid rgb(179, 175, 175);
  font-size: 12px;
}
.food-list-item-button:hover{
  color: var(--food-list-button-hover-color);
  box-shadow: 0 0 5px grey;
  cursor: pointer;
}
.h-15{
  height: 15px;
}
.nonveg{
  filter: invert(11%) sepia(36%) saturate(4540%) hue-rotate(348deg) brightness(86%) contrast(94%);
  color: #581111;
}
.veg{
  filter:  invert(23%) sepia(16%) saturate(3949%) hue-rotate(80deg) brightness(100%) contrast(101%);
}



#cart{
  /* opacity: 0.5; */
  width: 400px;
  margin-left: 90px;
  width: 16%;
}
#empty-cart-img{
  margin-top: 50px;
  height: 220px;
}


.cartItem{
  align-items: center;
  padding: 1rem 0 1rem 0;
}
.cartItem>div>img{
  margin: 0.2rem;
}

.quantityControllers{
  font-size: 0.8rem;
  width: 50px;
  border: 1px solid rgb(179, 175, 175);
  padding: 0.3rem;
  margin: 0 1rem;
}

.flex-space-around{
  display: flex;
  justify-content: space-around;
}

.quantityControllers>span{
  font-size: 1.1rem;
  color: green;
}

.quantityControllers>span:hover{
  cursor: pointer;
}

.align-items-center{
  align-items: center;
}

#totalAmount{
  padding: 1.5rem 0;
}
#totalAmount>h4{
  font-size: large;
}

#checkout-button{
  width: 100%;
  padding: 0.9rem;
  border: none;
  background-color: #60b246;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.w-90{
  width: 90%;
}